.body{
    min-height: 100vh;
    background-color: #0b243a;
    color: #ffffff;
}

.contIcons{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 560px) {
    .contIcons{
        display: block;
        margin-top: 125px;
    }

    .icone{
       height: 40px;
       width: 40px;
       padding: 8px;
    }

    .text{
        font-size: 16px;
    }
}